
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
}


@-webkit-keyframes fadein {
  from {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadein {
  from {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.fade-in {
  -webkit-animation-name: fadein;
  animation-name: fadein;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s
}
