@font-face {
	font-family: 'Gordita';
	src: url('../fonts/GorditaRegular.eot');
	src:
		local('☺'),
		url('../fonts/GorditaRegular.woff') format('woff'),
		url('../fonts/GorditaRegular.ttf') format('truetype'),
		url('../fonts/GorditaRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gordita';
	src: url('fonts/GorditaBlack.eot');
	src:
		local('☺'),
		url('../fonts/GorditaBlack.woff') format('woff'),
		url('../fonts/GorditaBlack.ttf') format('truetype'),
		url('../fonts/GorditaBlack.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}