$font-family: map-get($fonts, 'families');
$font-size: map-get($fonts, 'size');

/* wielkosci czcionek, paddingi, marigny warto byłoby na rem/em poprzestawiać */

/* ONLY FOR PREVIEW - nie kopiować!! */
body {
  //display: flex;
  //align-items: center;
}

.wrapper {
  //margin: 0 auto;
  //box-shadow: 0 0 3px #ccc;
  width: 1600px;
  height: 860px;
}
/*ONLY FOR PREVIEW - nie kopiować!! */

.top--header {
  font-family: map-get($font-family, first), sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-scheme-1;
  line-height: 1.2;
  margin-top: 5px;

  small {
    font-size: 16px;
    font-weight: normal;
  }
}

h1.top--header {
  @extend .top--header;
}

.site--heading {
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: map-get($font-family, first), sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

h3.site--heading {
  @extend .site--heading;
}

.text--darken {
  color: $color-scheme-2;
}

h1.text--darken {
  @extend .text--darken;
}

.low--header--line {
  line-height: 38px !important;
  margin-bottom: 0;
}

.lead--md {
  color: $color-scheme-2;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 2;
}

.lead--lg {
  color: $color-scheme-2;
  font-size: 16px;
  text-transform: uppercase;
}

.lead--xl {
  color: $color-scheme-2;
  font-size: 28px;
  text-transform: uppercase;
}

.color--link {
  color: $color-scheme-1;
}

.justify-center-btn {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 50%;
  }

  .dropup {
    margin-left: 30px;
    width: 50%;

    .btn {
      width: 100%;
    }
  }
}

.flex-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 140px);
  min-height: 68vh;

  &__auto {
    flex: 1 0 auto;
  }
}

.btn-block {
  display: block;
}

.btn--go {

  &:after {
    transition: border-color 500ms linear;
    content: " ";
    border: solid $color-white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &.btn--tbb {

    &:after {
      border-color: $color-scheme-2;
    }
  }

  &.btn--blue {

    &:after {
      border-color: $color-white;
    }
  }
}

.features--list {
  text-transform: uppercase;
  color: $color-scheme-2;
  margin: 20px 0;
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-border;

  > li {
    padding: 5px 0;

    span {
      min-width: 40%;
      display: inline-block;
    }
  }
}

.advantages--list {
  text-transform: uppercase;
  color: $color-scheme-2;
  margin: 20px 0;
  font-size: 12px;

  > li {
    padding: 5px 0;
  }
}

.count--list {
  color: $color-scheme-2;
  font-size: 17px;

  > li {
    position: relative;
    padding: 4px 60px;

    &:before {
      content: attr(data-number);
      width: 28px;
      height: 28px;
      background: $color-black;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -14px;
      left: 0;
      color: $color-white;
      font-weight: 700;
      text-align: center;
      line-height: 28px;
      font-size: 17px;
    }
  }
}

.bullet--list {

  > li {
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      width: 6px;
      height: 6px;
      background: $color-scheme-1;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      left: 0;
    }
  }
}

.content--full {
  width: 100%;

  //@todo omowic
  .btn {

    &.active, &:hover {
      background: $color-scheme-1;
      color: $color-white;

      &:after {
        border-color: $color-white;
      }
    }
  }
}

.content--floor {

  .col-pad {
    padding-left: 40px;
  }

  .content__floors {
    width: 200px;
  }

  .content__floors__title {
    width: 100px;
    text-align: center;
  }
}

.content--about {

  .flex-content {
    margin-left: 125px;
  }
}

.content--info {
  padding: 40px 100px;

  .flex-content {
    height: calc(100% - 140px);
    align-self: center;
    min-height: 58vh;
    justify-content: center;

    &__auto {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .bullet--list {
    font-weight: bold;

    > li {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

.content--image--btn {
  height: 130px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: $color-white;
  text-align: center;
  position: relative;

  span {
    position: relative;
    font-weight: 700;
    z-index: 1;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    &:after {
      border-color: $color-white;
      margin-bottom: 2px;
    }
  }
}

.content--message--btn {
  border: 2px solid $color-scheme-1;
  color: $color-scheme-2;
}

.content {

  &__left-short {
    margin-top: 36px;
    position: relative;
    z-index: 10;
    width: 405px;
    float: left;
    padding-right: 120px;

    .content--about & {
      width: 905px;
      height: 100%;
    }

    .content--info & {
      width: 805px;
      height: 100%;
      margin-top: 0;
    }

    .content--plan & {
      width: 230px;
      height: 100%;
      padding-right: 0;
    }
  }

  &__right-wide {
    float: right;
    width: calc(100% - 405px);
    height: 100%;

    .content--about & {
      width: calc(100% - 905px);
    }

    .content--info & {
      width: calc(100% - 805px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .content--plan & {
      padding-top: 36px;
      width: calc(100% - 230px);
      //background-image: url('../images/img-1.png');
      //background-repeat: no-repeat;
      //background-position: right center;
    }
  }

  &___floor-wide {
    float: left;
    width: calc(100% - 230px);

    .row {
      //height: calc(100% - 140px);
      min-height: 67vh;
      display: flex;

      > div {
        display: flex;
        flex-direction: column;
      }

      .content__floor-preview {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 auto;
      }

      .content__floor-details {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
      }
    }
  }
}

.figure {

  &__full {
    //width: calc(100%/3);
    width: 40%;
    float: left;
    //background-image: url('../images/about-picture-left.jpg');
    background-size: cover;

    .content--about & {
      width: 100%;
    }

    figure {
      background-size: cover;
      height: 100%;
    }
  }

  &__half {
    float: left;
    //width: calc(100% - 100%/3);
    width: 60%;

    figure {
      width: 100%;
      height: 50%;
      background-size: cover;

      img {
        width: 100%;
      }
    }
  }

  &__plan {
    height: calc(100vh - 245px);
    position: relative;

    img {
      max-height: 100%;
    }
  }
}

.figure--caption {
  position: relative;
  height: 100%;

  img {
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    font-family: map-get($font-family, first), sans-serif;
    font-weight: 700;
    text-align: center;
    color: $color-white;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    small {
      font-size: 15px;
      display: block;
    }
  }
}
