.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
.container:before, .container:after {
  content: " ";
  display: table; }
.container:after {
  clear: both; }
@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table; }
.container-fluid:after {
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@-ms-viewport {
  width: device-width; }

.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }
@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }
@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, h1, h2, h3, h4, h5, h6, p, span, a,
applet, object, iframe, blockquote, pre, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong, b {
  font-weight: bold; }

em {
  font-style: italic; }

input, textarea {
  outline: none;
  resize: none;
  overflow: auto;
  font-family: inherit;
  border-radius: 0; }

a, input, textarea, button, .button {
  text-decoration: none;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear; }

a {
  font-style: normal;
  font-weight: normal; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

/*
	iphone - remove play button */
*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

/* buttons, links */
.button, .clickable, .wpcf7-submit {
  cursor: pointer; }

.link {
  display: inline-block; }

.link-left {
  padding-left: 0; }

.link-right {
  padding-right: 0; }

/*
	colors */
.color--white {
  color: #ffffff !important; }

.bg--white {
  background: #ffffff !important; }

.color--black {
  color: #111111 !important; }

.bg--black {
  background: #111111 !important; }

.color--first {
  color: #3ab821 !important; }

.bg--first {
  background: #3ab821 !important; }

/*
	defaults */
.button,
.wpcf7-submit {
  display: inline-block;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear; }

.button-left, .link-left {
  float: left;
  margin-left: 0 !important; }

.button-right, .link-right {
  float: right;
  margin-right: 0 !important; }

.form-field {
  font-family: inherit;
  font-size: inherit;
  resize: none; }

.grayscale {
  -webkit-filter: gray;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1); }
.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0); }

.tooltip {
  background: #746958;
  padding: 5px 10px;
  margin: 0 0 5px;
  position: relative;
  display: block;
  cursor: pointer;
  opacity: 1;
  font-size: 14px; }
.tooltip:after {
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(183, 96, 89, 0);
  border-top-color: #746958;
  border-width: 6px; }

.clear {
  clear: both;
  display: block;
  content: "\0020";
  height: 0;
  overflow: hidden; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.hide {
  display: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.overflow {
  overflow: hidden; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.static {
  position: static; }

.left, .first, .alignleft {
  float: left; }

.right, .last, .alignright {
  float: right; }

.alignnone {
  float: none;
  clear: both; }

.width-full {
  width: 100%; }

.width-min-full {
  width: 100%; }

.height-full {
  height: 100%; }

.height-min-full {
  min-height: 100%; }

.m {
  margin: 0 !important; }

.mt {
  margin-top: 0 !important; }

.mr {
  margin-right: 0 !important; }

.mb {
  margin-bottom: 0 !important; }

.ml {
  margin-left: 0 !important; }

.mv {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.mh {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m--10 {
  margin: 10px !important; }

.mt--10 {
  margin-top: 10px !important; }

.mr--10 {
  margin-right: 10px !important; }

.mb--10 {
  margin-bottom: 10px !important; }

.ml--10 {
  margin-left: 10px !important; }

.mv--10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.mh--10 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.m--15 {
  margin: 15px !important; }

.mt--15 {
  margin-top: 15px !important; }

.mr--15 {
  margin-right: 15px !important; }

.mb--15 {
  margin-bottom: 15px !important; }

.ml--15 {
  margin-left: 15px !important; }

.mv--15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.mh--15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.m--20 {
  margin: 20px !important; }

.mt--20 {
  margin-top: 20px !important; }

.mr--20 {
  margin-right: 20px !important; }

.mb--20 {
  margin-bottom: 20px !important; }

.ml--20 {
  margin-left: 20px !important; }

.mv--20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.mh--20 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.m--25 {
  margin: 25px !important; }

.mt--25 {
  margin-top: 25px !important; }

.mr--25 {
  margin-right: 25px !important; }

.mb--25 {
  margin-bottom: 25px !important; }

.ml--25 {
  margin-left: 25px !important; }

.mv--25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.mh--25 {
  margin-right: 25px !important;
  margin-left: 25px !important; }

.m--30 {
  margin: 30px !important; }

.mt--30 {
  margin-top: 30px !important; }

.mr--30 {
  margin-right: 30px !important; }

.mb--30 {
  margin-bottom: 30px !important; }

.ml--30 {
  margin-left: 30px !important; }

.mv--30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.mh--30 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.m--40 {
  margin: 40px !important; }

.mt--40 {
  margin-top: 40px !important; }

.mr--40 {
  margin-right: 40px !important; }

.mb--40 {
  margin-bottom: 40px !important; }

.ml--40 {
  margin-left: 40px !important; }

.mv--40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.mh--40 {
  margin-right: 40px !important;
  margin-left: 40px !important; }

.m--50 {
  margin: 50px !important; }

.mt--50 {
  margin-top: 50px !important; }

.mr--50 {
  margin-right: 50px !important; }

.mb--50 {
  margin-bottom: 50px !important; }

.ml--50 {
  margin-left: 50px !important; }

.mv--50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

.mh--50 {
  margin-right: 50px !important;
  margin-left: 50px !important; }

.m--60 {
  margin: 60px !important; }

.mt--60 {
  margin-top: 60px !important; }

.mr--60 {
  margin-right: 60px !important; }

.mb--60 {
  margin-bottom: 60px !important; }

.ml--60 {
  margin-left: 60px !important; }

.mv--60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.mh--60 {
  margin-right: 60px !important;
  margin-left: 60px !important; }

.m--70 {
  margin: 70px !important; }

.mt--70 {
  margin-top: 70px !important; }

.mr--70 {
  margin-right: 70px !important; }

.mb--70 {
  margin-bottom: 70px !important; }

.ml--70 {
  margin-left: 70px !important; }

.mv--70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important; }

.mh--70 {
  margin-right: 70px !important;
  margin-left: 70px !important; }

.m--80 {
  margin: 80px !important; }

.mt--80 {
  margin-top: 80px !important; }

.mr--80 {
  margin-right: 80px !important; }

.mb--80 {
  margin-bottom: 80px !important; }

.ml--80 {
  margin-left: 80px !important; }

.mv--80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important; }

.mh--80 {
  margin-right: 80px !important;
  margin-left: 80px !important; }

.m--90 {
  margin: 90px !important; }

.mt--90 {
  margin-top: 90px !important; }

.mr--90 {
  margin-right: 90px !important; }

.mb--90 {
  margin-bottom: 90px !important; }

.ml--90 {
  margin-left: 90px !important; }

.mv--90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important; }

.mh--90 {
  margin-right: 90px !important;
  margin-left: 90px !important; }

.m--100 {
  margin: 100px !important; }

.mt--100 {
  margin-top: 100px !important; }

.mr--100 {
  margin-right: 100px !important; }

.mb--100 {
  margin-bottom: 100px !important; }

.ml--100 {
  margin-left: 100px !important; }

.mv--100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important; }

.mh--100 {
  margin-right: 100px !important;
  margin-left: 100px !important; }

@media (min-width: 768px) {
  .m-sm {
    margin: 0 !important; }
  .mt-sm {
    margin-top: 0 !important; }
  .mr-sm {
    margin-right: 0 !important; }
  .mb-sm {
    margin-bottom: 0 !important; }
  .ml-sm {
    margin-left: 0 !important; }
  .mv-sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .mh-sm {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .m-sm--10 {
    margin: 10px !important; }
  .mt-sm--10 {
    margin-top: 10px !important; }
  .mr-sm--10 {
    margin-right: 10px !important; }
  .mb-sm--10 {
    margin-bottom: 10px !important; }
  .ml-sm--10 {
    margin-left: 10px !important; }
  .mv-sm--10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .mh-sm--10 {
    margin-right: 10px !important;
    margin-left: 10px !important; }
  .m-sm--15 {
    margin: 15px !important; }
  .mt-sm--15 {
    margin-top: 15px !important; }
  .mr-sm--15 {
    margin-right: 15px !important; }
  .mb-sm--15 {
    margin-bottom: 15px !important; }
  .ml-sm--15 {
    margin-left: 15px !important; }
  .mv-sm--15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important; }
  .mh-sm--15 {
    margin-right: 15px !important;
    margin-left: 15px !important; }
  .m-sm--20 {
    margin: 20px !important; }
  .mt-sm--20 {
    margin-top: 20px !important; }
  .mr-sm--20 {
    margin-right: 20px !important; }
  .mb-sm--20 {
    margin-bottom: 20px !important; }
  .ml-sm--20 {
    margin-left: 20px !important; }
  .mv-sm--20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .mh-sm--20 {
    margin-right: 20px !important;
    margin-left: 20px !important; }
  .m-sm--30 {
    margin: 30px !important; }
  .mt-sm--30 {
    margin-top: 30px !important; }
  .mr-sm--30 {
    margin-right: 30px !important; }
  .mb-sm--30 {
    margin-bottom: 30px !important; }
  .ml-sm--30 {
    margin-left: 30px !important; }
  .mv-sm--30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important; }
  .mh-sm--30 {
    margin-right: 30px !important;
    margin-left: 30px !important; }
  .m-sm--40 {
    margin: 40px !important; }
  .mt-sm--40 {
    margin-top: 40px !important; }
  .mr-sm--40 {
    margin-right: 40px !important; }
  .mb-sm--40 {
    margin-bottom: 40px !important; }
  .ml-sm--40 {
    margin-left: 40px !important; }
  .mv-sm--40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .mh-sm--40 {
    margin-right: 40px !important;
    margin-left: 40px !important; }
  .m-sm--50 {
    margin: 50px !important; }
  .mt-sm--50 {
    margin-top: 50px !important; }
  .mr-sm--50 {
    margin-right: 50px !important; }
  .mb-sm--50 {
    margin-bottom: 50px !important; }
  .ml-sm--50 {
    margin-left: 50px !important; }
  .mv-sm--50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important; }
  .mh-sm--50 {
    margin-right: 50px !important;
    margin-left: 50px !important; } }

@media (min-width: 992px) {
  .m-md {
    margin: 0 !important; }
  .mt-md {
    margin-top: 0 !important; }
  .mr-md {
    margin-right: 0 !important; }
  .mb-md {
    margin-bottom: 0 !important; }
  .ml-md {
    margin-left: 0 !important; }
  .mv-md {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .mh-md {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .m-sm--10 {
    margin: 10px !important; }
  .mt-sm--10 {
    margin-top: 10px !important; }
  .mr-sm--10 {
    margin-right: 10px !important; }
  .mb-sm--10 {
    margin-bottom: 10px !important; }
  .ml-sm--10 {
    margin-left: 10px !important; }
  .mv-sm--10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .mh-sm--10 {
    margin-right: 10px !important;
    margin-left: 10px !important; }
  .m-sm--15 {
    margin: 15px !important; }
  .mt-sm--15 {
    margin-top: 15px !important; }
  .mr-sm--15 {
    margin-right: 15px !important; }
  .mb-sm--15 {
    margin-bottom: 15px !important; }
  .ml-sm--15 {
    margin-left: 15px !important; }
  .mv-sm--15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important; }
  .mh-sm--15 {
    margin-right: 15px !important;
    margin-left: 15px !important; }
  .m-sm--20 {
    margin: 20px !important; }
  .mt-sm--20 {
    margin-top: 20px !important; }
  .mr-sm--20 {
    margin-right: 20px !important; }
  .mb-sm--20 {
    margin-bottom: 20px !important; }
  .ml-sm--20 {
    margin-left: 20px !important; }
  .mv-sm--20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .mh-sm--20 {
    margin-right: 20px !important;
    margin-left: 20px !important; }
  .m-sm--30 {
    margin: 30px !important; }
  .mt-sm--30 {
    margin-top: 30px !important; }
  .mr-sm--30 {
    margin-right: 30px !important; }
  .mb-sm--30 {
    margin-bottom: 30px !important; }
  .ml-sm--30 {
    margin-left: 30px !important; }
  .mv-sm--30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important; }
  .mh-sm--30 {
    margin-right: 30px !important;
    margin-left: 30px !important; }
  .m-sm--40 {
    margin: 40px !important; }
  .mt-sm--40 {
    margin-top: 40px !important; }
  .mr-sm--40 {
    margin-right: 40px !important; }
  .mb-sm--40 {
    margin-bottom: 40px !important; }
  .ml-sm--40 {
    margin-left: 40px !important; }
  .mv-sm--40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .mh-sm--40 {
    margin-right: 40px !important;
    margin-left: 40px !important; }
  .m-sm--50 {
    margin: 50px !important; }
  .mt-sm--50 {
    margin-top: 50px !important; }
  .mr-sm--50 {
    margin-right: 50px !important; }
  .mb-sm--50 {
    margin-bottom: 50px !important; }
  .ml-sm--50 {
    margin-left: 50px !important; }
  .mv-sm--50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important; }
  .mh-sm--50 {
    margin-right: 50px !important;
    margin-left: 50px !important; } }

@media (min-width: 1200px) {
  .m-lg {
    margin: 0 !important; }
  .mt-lg {
    margin-top: 0 !important; }
  .mr-lg {
    margin-right: 0 !important; }
  .mb-lg {
    margin-bottom: 0 !important; }
  .ml-lg {
    margin-left: 0 !important; }
  .mv-lg {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .mh-lg {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .m-lg--10 {
    margin: 10px !important; }
  .mt-lg--10 {
    margin-top: 10px !important; }
  .mr-lg--10 {
    margin-right: 10px !important; }
  .mb-lg--10 {
    margin-bottom: 10px !important; }
  .ml-lg--10 {
    margin-left: 10px !important; }
  .mv-lg--10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .mh-lg--10 {
    margin-right: 10px !important;
    margin-left: 10px !important; }
  .m-lg--15 {
    margin: 15px !important; }
  .mt-lg--15 {
    margin-top: 15px !important; }
  .mr-lg--15 {
    margin-right: 15px !important; }
  .mb-lg--15 {
    margin-bottom: 15px !important; }
  .ml-lg--15 {
    margin-left: 15px !important; }
  .mv-lg--15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important; }
  .mh-lg--15 {
    margin-right: 15px !important;
    margin-left: 15px !important; }
  .m-lg--20 {
    margin: 20px !important; }
  .mt-lg--20 {
    margin-top: 20px !important; }
  .mr-lg--20 {
    margin-right: 20px !important; }
  .mb-lg--20 {
    margin-bottom: 20px !important; }
  .ml-lg--20 {
    margin-left: 20px !important; }
  .mv-lg--20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .mh-lg--20 {
    margin-right: 20px !important;
    margin-left: 20px !important; }
  .m-lg--25 {
    margin: 25px !important; }
  .mt-lg--25 {
    margin-top: 25px !important; }
  .mr-lg--25 {
    margin-right: 25px !important; }
  .mb-lg--25 {
    margin-bottom: 25px !important; }
  .ml-lg--25 {
    margin-left: 25px !important; }
  .mv-lg--25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important; }
  .mh-lg--25 {
    margin-right: 25px !important;
    margin-left: 25px !important; }
  .m-lg--30 {
    margin: 30px !important; }
  .mt-lg--30 {
    margin-top: 30px !important; }
  .mr-lg--30 {
    margin-right: 30px !important; }
  .mb-lg--30 {
    margin-bottom: 30px !important; }
  .ml-lg--30 {
    margin-left: 30px !important; }
  .mv-lg--30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important; }
  .mh-lg--30 {
    margin-right: 30px !important;
    margin-left: 30px !important; }
  .m-lg--40 {
    margin: 40px !important; }
  .mt-lg--40 {
    margin-top: 40px !important; }
  .mr-lg--40 {
    margin-right: 40px !important; }
  .mb-lg--40 {
    margin-bottom: 40px !important; }
  .ml-lg--40 {
    margin-left: 40px !important; }
  .mv-lg--40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .mh-lg--40 {
    margin-right: 40px !important;
    margin-left: 40px !important; }
  .m-lg--50 {
    margin: 50px !important; }
  .mt-lg--50 {
    margin-top: 50px !important; }
  .mr-lg--50 {
    margin-right: 50px !important; }
  .mb-lg--50 {
    margin-bottom: 50px !important; }
  .ml-lg--50 {
    margin-left: 50px !important; }
  .mv-lg--50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important; }
  .mh-lg--50 {
    margin-right: 50px !important;
    margin-left: 50px !important; }
  .m-lg--60 {
    margin: 60px !important; }
  .mt-lg--60 {
    margin-top: 60px !important; }
  .mr-lg--60 {
    margin-right: 60px !important; }
  .mb-lg--60 {
    margin-bottom: 60px !important; }
  .ml-lg--60 {
    margin-left: 60px !important; }
  .mv-lg--60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important; }
  .mh-lg--60 {
    margin-right: 60px !important;
    margin-left: 60px !important; }
  .m-lg--70 {
    margin: 70px !important; }
  .mt-lg--70 {
    margin-top: 70px !important; }
  .mr-lg--70 {
    margin-right: 70px !important; }
  .mb-lg--70 {
    margin-bottom: 70px !important; }
  .ml-lg--70 {
    margin-left: 70px !important; }
  .mv-lg--70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important; }
  .mh-lg--70 {
    margin-right: 70px !important;
    margin-left: 70px !important; }
  .m-lg--80 {
    margin: 80px !important; }
  .mt-lg--80 {
    margin-top: 80px !important; }
  .mr-lg--80 {
    margin-right: 80px !important; }
  .mb-lg--80 {
    margin-bottom: 80px !important; }
  .ml-lg--80 {
    margin-left: 80px !important; }
  .mv-lg--80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important; }
  .mh-lg--80 {
    margin-right: 80px !important;
    margin-left: 80px !important; }
  .m-lg--90 {
    margin: 90px !important; }
  .mt-lg--90 {
    margin-top: 90px !important; }
  .mr-lg--90 {
    margin-right: 90px !important; }
  .mb-lg--90 {
    margin-bottom: 90px !important; }
  .ml-lg--90 {
    margin-left: 90px !important; }
  .mv-lg--90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important; }
  .mh-lg--90 {
    margin-right: 90px !important;
    margin-left: 90px !important; }
  .m-lg--100 {
    margin: 100px !important; }
  .mt-lg--100 {
    margin-top: 100px !important; }
  .mr-lg--100 {
    margin-right: 100px !important; }
  .mb-lg--100 {
    margin-bottom: 100px !important; }
  .ml-lg--100 {
    margin-left: 100px !important; }
  .mv-lg--100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important; }
  .mh-lg--100 {
    margin-right: 100px !important;
    margin-left: 100px !important; } }

/*
	families */
.text--primary {
  font-family: "Gordita", sans-serif; }

.text--secondary {
  font-family: "Titillium Web", sans-serif; }

.text--third {
  font-family: sans-serif; }

/*
	sizes */
/*
	styles */
.text--normal {
  font-style: normal !important; }

.text--italic {
  font-style: italic !important; }

/*
	weight */
.text--wxl {
  font-weight: 100 !important; }

.text--wl {
  font-weight: 200 !important; }

.text--wr {
  font-weight: 400 !important; }

.text--wsb {
  font-weight: 600 !important; }

.text--wb {
  font-weight: 700 !important; }

.text--wxb {
  font-weight: 900 !important; }

/*
	aligns */
.text--left {
  text-align: left !important; }

.text--right {
  text-align: right !important; }

.text--center {
  text-align: center !important; }

.text--justify {
  text-align: justify !important; }

.text--nowrap {
  white-space: nowrap !important; }

/*
	decorations */
.text--none {
  text-decoration: none !important; }

.text--under {
  text-decoration: underline !important; }

.text--strike {
  text-decoration: line-through !important; }

/*
	transforms */
.text--ncase {
  text-transform: none !important; }

.text--lowercase {
  text-transform: lowercase !important; }

.text--uppercase {
  text-transform: uppercase !important; }

.text--capitalize {
  text-transform: capitalize !important; }

.text--firstupper:first-letter,
.text--firstupper *:first-letter {
  text-transform: uppercase !important; }

.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border: 0 none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear; }

.btn {
  font-family: "Gordita", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #333;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 8px; }
.btn + .btn:not(.btn--wide) {
  margin-left: 40px; }
.btn.btn--bold {
  font-weight: bold; }
.btn.btn--disabled {
  opacity: 0.6;
  cursor: default; }

.btn {
  background: #8c2a18;
  color: #ffffff;
  border-width: 0;
  border-style: none;
  border-color: #000; }
.btn:hover:not(.btn--disabled) {
  background: #721908;
  color: #ffffff; }

.btn--blue {
  background: #3c4351;
  color: #fff;
  border-width: 0;
  border-style: none;
  border-color: #000; }
.btn--blue:hover:not(.btn--disabled) {
  background: #252d3b;
  color: #fff; }

.btn--white {
  background: #fff;
  color: #242931;
  border-width: 1;
  border-style: solid;
  border-color: #fff; }
.btn--white:hover:not(.btn--disabled) {
  background: #fff;
  color: #242931; }

.btn--tbr {
  background: transparent;
  color: #3c4351;
  border-width: 1px;
  border-style: solid;
  border-color: #8c2a18; }
.btn--tbr:hover:not(.btn--disabled) {
  background: transparent;
  color: #3c4351; }

.btn--tbb {
  background: transparent;
  color: #3c4351;
  border-width: 1px;
  border-style: solid;
  border-color: #484d5a; }
.btn--tbb:hover:not(.btn--disabled) {
  background: transparent;
  color: #3c4351; }

.btn--tbw {
  background: transparent;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #fff; }
.btn--tbw:hover:not(.btn--disabled) {
  background: transparent;
  color: #fff; }

.btn {
  width: auto; }

.btn--wide {
  width: 100%; }

.btn--w-150 {
  width: 150px; }

.btn--w-200 {
  width: 200px; }

.btn--w-250 {
  width: 250px; }

.btn {
  font-size: 11px;
  padding: 27px 33px; }

.btn--xs {
  font-size: 10px;
  padding: 15px 33px; }

.btn--s {
  font-size: 11px;
  padding: 15px 33px; }

.btn {
  border-radius: 0; }

.btn--rad-3 {
  border-radius: 3px; }

.btn--rad-10 {
  border-radius: 10px; }

.btn--rad-20 {
  border-radius: 20px; }

@font-face {
  font-family: 'Gordita';
  src: url("../fonts/GorditaRegular.eot");
  src: local("☺"), url("../fonts/GorditaRegular.woff") format("woff"), url("../fonts/GorditaRegular.ttf") format("truetype"), url("../fonts/GorditaRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gordita';
  src: url("fonts/GorditaBlack.eot");
  src: local("☺"), url("../fonts/GorditaBlack.woff") format("woff"), url("../fonts/GorditaBlack.ttf") format("truetype"), url("../fonts/GorditaBlack.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

html, body {
  background: #fff;
  font-family: Gordita, sans-serif;
  color: #392929;
  font-size: 14px;
  line-height: 1.428571429;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  min-height: 100%; }

p {
  line-height: 150%;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px; }

a {
  font-style: normal;
  font-weight: normal;
  color: #93a739; }

h1, h2, h3, h4, h5, h6,
.h1-default, .h2-default, .h3-default, .h4-default, .h5-default, .h6-default {
  color: inherit;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.1;
  margin-top: 30px;
  margin-bottom: 15px; }

/*
	headers */
.content h1, h1.default {
  font-size: 28px; }

.content h3, h3.default {
  font-size: 20px; }

.content h4, h4.default {
  font-size: 18px; }

.content h5, h5.default {
  font-size: 14px; }

/*
	wrapper */
.wrapper {
  width: 1540px;
  height: 790px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9); }

/* content */
.content,
.sidebar {
  height: 100%;
  position: relative; }

.content {
  float: left;
  width: 1070px;
  padding-left: 40px; }

.content--wide {
  width: 100%;
  padding: 0 40px; }

.content__header {
  margin-top: 36px;
  position: relative;
  z-index: 10;
  pointer-events: none; }
.content__header > * {
  pointer-events: all; }

.content__footer {
  margin-top: 60px;
  position: relative;
  z-index: 10; }

.sidebar {
  float: right;
  width: 430px;
  margin-top: 112px;
  padding: 0 30px; }

.content__floors {
  position: relative;
  float: left;
  width: 260px;
  z-index: 1;
  padding-top: 20px; }

.content__floor-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

.content__filters {
  position: relative;
  float: right;
  width: 300px;
  height: 100%;
  z-index: 1; }

.content__flat-view {
  position: relative; }

.flat-view {
  position: relative; }

.flat-view__action {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }

.table-flat {
  margin: 0 0 15px 0;
  width: 100%; }

.table-flat--centered {
  max-width: 268px;
  margin-left: auto;
  margin-right: auto;
  color: #3c4351; }
.table-flat--centered:not(.table-flat--centereds) td {
  padding: 5px 0; }
.table-flat--centered:not(.table-flat--centereds) td + td {
  width: 60px;
  text-align: center; }
.table-flat--centered .td--bold {
  font-weight: 700; }

.tfc {
  width: 1005;
  margin-left: auto;
  margin-right: auto;
  color: #3c4351; }
.tfc td {
  padding: 5px 0; }
.tfc td + td {
  width: 94px;
  text-align: center; }
.tfc .td--bold {
  font-weight: 700; }

.table-flat__label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px; }

.table-flat__value {
  font-size: 12px;
  width: 95px;
  text-align: right; }

.table-flat__thead {
  border-bottom: 1px solid #ccb9b9; }

.table-flat__tbody {
  border-bottom: 1px solid #ccb9b9; }

.table-flat__thead__td {
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 0; }

.table-flat__thead__td--value {
  width: 100px; }

.table-flat--tc .table-flat__label {
  line-height: 20px; }

.table-flat--tc .table-flat__tbody {
  border-bottom: 0 none; }

.prices__row {
  margin: 25px 0;
  text-transform: uppercase;
  overflow: hidden; }

.prices__label {
  float: left;
  font-size: 20px;
  line-height: 35px; }

.prices__value {
  float: right;
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  color: #8c2a18; }

.price__title {
  color: #3c4351;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }
.price__title.price__title--left {
  text-align: left; }

.price__value {
  font-size: 30px;
  font-weight: 700;
  color: #8c2a18;
  text-transform: uppercase;
  text-align: center; }
.price__value.price__value--left {
  text-align: left; }

.price__value-m {
  color: #3c4351;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center; }
.price__value-m.price__value-m--left {
  text-align: left; }

.header--flat {
  color: #8c2a18;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase; }

.header--area {
  color: #3c4351;
  font-size: 35px;
  font-weight: 700; }

.header--cage {
  color: #3c4351;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.content__floors__title {
  font-size: 17px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3c4351;
  width: 120px;
  text-align: left;
  margin-bottom: 0; }

.filter__count {
  display: block;
  text-align: center;
  font-size: 36px;
  margin: 10px 0 5px;
  font-weight: 700;
  color: #3c4351; }

.btn__row--active .filter__count {
  color: #337749; }

.font--special {
  color: #8c2a18 !important; }

.font--bold {
  font-weight: 700 !important; }

.font--l {
  font-size: 16px !important; }

.font--red {
  color: #d94c36 !important; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.box--relative {
  position: relative; }

.box--overflowh {
  overflow: hidden; }

.box-heightfull {
  height: 100%; }

.btn__row {
  margin-bottom: 0; }

.btn--w100 {
  width: 100px;
  text-align: center; }

.btn--260 {
  width: 260px;
  text-align: center; }

.btn-ar {
  position: absolute;
  right: 0; }

.hr-default {
  background: #989898;
  border: 0 none;
  height: 1px;
  witdh: 100%;
  margin: 5 0; }

.hr-default--centeted {
  max-width: 268px;
  margin-left: auto;
  margin-right: auto; }

.content__floors .btn--active,
.content__floors .btn--active:hover {
  background-color: #8c2a18; }

.content__filters .btn--active,
.content__filters .btn--active:hover {
  background-color: #337749; }

.box__flors__buttons {
  width: 100%;
  height: 487px;
  overflow: hidden;
  position: relative;
  margin-top: 25px; }
.box__flors__buttons .btn--s {
  padding: 13px 33px; }

.box__flors__buttons-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.btn__floor_totop,
.btn__floor_tobottom {
  left: 34px;
  position: absolute;
  display: inline-block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; }

.btn__floor_totop {
  border-bottom: 15px solid #959594;
  display: none; }
.btn__floor_totop:hover {
  border-bottom: 15px solid #70706e; }

.btn__floor_tobottom {
  margin-top: 10px;
  border-top: 15px solid #959594; }
.btn__floor_tobottom:hover {
  border-top: 15px solid #70706e; }

/*
	gallery */
.gallery__nav {
  position: relative;
  float: left;
  width: 215px;
  height: 790px;
  z-index: 1;
  margin-right: 55px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.gallery__nav .btn__row {
  margin-bottom: 50px; }
.gallery__nav .btn--active,
.gallery__nav .btn--active:hover {
  background-color: #8c2a18; }

.gallery__nav__inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.gallery__content {
  width: 100%;
  height: 790px;
  z-index: 0; }

.gallery__item {
  float: left;
  max-width: 48%;
  margin: 0 0 15px 2%; }

.btn--back {
  position: relative; }
.btn--back:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 0;
  margin-left: -30px;
  width: 53px;
  height: 13px;
  background-color: transparent;
  background-image: url("../images/ico-arrow-left.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.owl-.compare__content {
  margin: 0;
  margin-top: -100px;
  margin-bottom: -100px;
  position: relative;
  z-index: 0; }
.owl-.compare__content .owl-stage {
  padding-top: 100px;
  padding-bottom: 100px; }

.mbox__item {
  padding: 30px 20px; }
.mbox__item .header--cage {
  font-size: 14px; }
.mbox__item .header--flat {
  font-size: 25px; }
.mbox__item .header--area {
  font-size: 30px; }
.mbox__item .table-flat__thead__td {
  font-size: 15px; }
.mbox__item .prices__label,
.mbox__item .prices__value {
  font-size: 15px;
  line-height: 15px; }
.mbox__item .prices__row {
  margin: 10px 0; }
.mbox__item .table-flat__thead__td.table-flat__thead__td--value {
  text-align: right; }
.mbox__item .close {
  display: block;
  width: 20px;
  height: 20px;
  background: red; }

.mbox__item--active {
  border: 1px solid #8c2a18;
  -webkit-box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.24); }

.btn .ico-send {
  float: left;
  margin: -5px 10px -5px 0; }

.btn .ico-compare {
  float: left;
  margin: -5px 10px -5px 0; }

.btn .ico-details {
  float: left;
  margin: 1px 2px 0 0; }

.compare__left {
  position: relative;
  float: left;
  width: 120px;
  height: 620px;
  margin-top: 125px; }

.compare__left__floor-view {
  position: absolute;
  bottom: 0;
  left: 0; }

.compare__content {
  width: 95%;
  height: 790px;
  z-index: 0;
  padding-left: 120px; }

.owl-cbox {
  margin: 0;
  margin-top: -100px;
  margin-bottom: -100px;
  position: relative;
  z-index: 0; }
.owl-cbox .owl-stage {
  padding-top: 100px;
  padding-bottom: 100px; }
.owl-cbox .cbox__item {
  padding: 10px 20px; }
.owl-cbox .cbox__item img {
  margin-bottom: 20px; }
.owl-cbox .cbox__item .header--area {
  font-size: 20px; }
.owl-cbox .cbox__item .table-flat__thead__td {
  font-size: 12px; }
.owl-cbox .cbox__item .table-flat__thead__td + .table-flat__thead__td {
  text-align: right; }
.owl-cbox .cbox__item .table-flat__label,
.owl-cbox .cbox__item .table-flat__value {
  font-size: 10px;
  line-height: 18px; }
.owl-cbox .cbox__item .table-flat__value {
  text-align: right; }
.owl-cbox .cbox__item .prices__label,
.owl-cbox .cbox__item .prices__value {
  font-size: 15px;
  line-height: 18px; }
.owl-cbox .cbox__item .prices__row {
  margin: 10px 0; }
.owl-cbox .cbox__item .table-flat__tbody {
  border-bottom: 0 none; }

.icon-svg-close .close-x {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5; }

.btn--narrow {
  padding-left: 20px;
  padding-right: 20px; }

.btn--clear {
  padding: 10px 0;
  background: none;
  color: #211e1e;
  text-transform: none;
  font-size: 13px; }
.btn--clear.btn:hover {
  color: #211e1e;
  background: none; }

.flat-view__action .btn:not(.btn--clear):after, .content__footer .btn:not(.btn--clear):after, .compare__left .btn:not(.btn--clear):after {
  content: " ";
  border: solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.flat-view__action .btn:not(.btn--clear).btn--tbb:after, .content__footer .btn:not(.btn--clear).btn--tbb:after, .compare__left .btn:not(.btn--clear).btn--tbb:after {
  border-color: #3c4351; }

.flat-list-item .item-unselect {
  position: absolute;
  left: 50%;
  top: -65px;
  display: none;
  cursor: pointer; }

.flat-list-item .mbox__item--active + .item-unselect {
  display: block; }

.flat-list-item .icon-svg-close {
  width: 20px;
  margin-left: -10px;
  fill: #3c4351; }

.flat-list .owl-carousel .owl-stage-outer {
  overflow-y: visible; }

.flat-list-full .owl-carousel .owl-stage-outer,
.flat-list .owl-carousel .owl-stage-outer {
  overflow: visible; }

.table-filtration {
  width: 100%;
  margin: 20px 0; }
.table-filtration tr {
  border-bottom: 1px solid #a1a1a1; }
.table-filtration tr th,
.table-filtration tr td {
  text-transform: uppercase;
  padding: 0;
  height: 80px;
  vertical-align: middle;
  text-align: center; }
.table-filtration tbody tr:last-child {
  border-bottom: 0 none; }
.table-filtration .td--price {
  font-weight: 700;
  color: #8c2a18; }
.table-filtration .link-head {
  font-size: 16px;
  font-weight: 700;
  color: #8c2a18;
  float: left; }
.table-filtration .sort {
  display: inline-block;
  width: 9px;
  margin-left: 10px;
  float: left; }
.table-filtration .sort .sort-up,
.table-filtration .sort .sort-down {
  display: block;
  width: 9px;
  height: 8px;
  background-color: transparent;
  background-image: url("../images/ico-sort.png");
  background-repeat: no-repeat;
  background-position: 0 0; }
.table-filtration .sort .sort-up {
  margin-bottom: 4px; }
.table-filtration .sort .sort-down {
  background-position: 0 -8px; }
.table-filtration .status {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%; }
.table-filtration .status.success {
  background-color: #39b54a; }
.table-filtration .status.warning {
  background-color: #f26c4f; }
.table-filtration .status.error {
  background-color: #f24f62; }
.table-filtration .tr-hover {
  display: none; }
.table-filtration .td-hover {
  height: 80px;
  background: #8c2a18;
  vertical-align: middle;
  text-align: center;
  padding: 0 30px; }
.table-filtration .td-hover .btn {
  margin-bottom: 0; }
.table-filtration .td-price {
  width: 100px;
  text-align: center; }
.table-filtration .td-pricem {
  width: 120px;
  text-align: center; }

.header__filtration {
  width: 100%;
  overflow: hidden;
  background-color: #3c4351;
  color: #fff;
  padding: 25px 35px; }

.filtration__item {
  position: relative;
  float: left;
  height: 70px;
  margin: 0 45px; }
.filtration__item:last-child {
  float: right;
  margin-right: 0;
  margin-top: 20px; }
.filtration__item.filtration__item--select {
  margin-top: 20px; }
.filtration__item.filtration__item--area, .filtration__item.filtration__item--price {
  margin-right: 80px; }

.label--top {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px; }

.label--al {
  text-align: left; }

.select--label-top {
  display: block;
  width: 40px;
  text-align: center;
  text-align-last: center;
  text-indent: -2px;
  border: 0;
  margin: 10px auto;
  padding: 0;
  font-weight: bold;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #3C4351;
  color: #fff; }

.select--label-wrap:after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  margin: 10px auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff; }

.filtration__submit {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: 0 none;
  cursor: pointer;
  height: 67px;
  padding-right: 20px;
  background-color: transparent;
  background-image: url("../images/ico-arrow-rr.png");
  background-repeat: no-repeat;
  background-position: center right; }

.ui-widget.ui-widget-content {
  border: 0 none !important;
  height: 1px !important;
  width: 290px !important;
  background: #a1a1a1 !important; }

.ui-widget-header {
  background: #fff !important; }

.ui-slider .ui-slider-handle {
  top: -10px !important;
  position: absolute;
  z-index: 2;
  width: 20px !important;
  height: 20px !important;
  background: #fff !important;
  border-radius: 50% !important;
  border: 0 none !important;
  cursor: pointer !important;
  -ms-touch-action: none;
  touch-action: none; }

.filter-area-range,
.filter-price-range {
  margin: 30px 0 20px; }

.area-min,
.area-max,
.price-min,
.price-max {
  width: 100px;
  text-align: center;
  font-size: 12px; }

.area-min,
.price-min {
  float: left;
  margin-left: -50px; }

.area-max,
.price-max {
  float: right;
  margin-right: -50px; }

.floor__legends {
  overflow: hidden;
  border-top: 1px solid #cccbcc;
  padding-top: 30px;
  margin-top: 20px; }
.floor__legends .legend {
  overflow: hidden;
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0 0 15px 0;
  color: #3c4351;
  font-size: 12px;
  text-transform: uppercase; }
.floor__legends .legend__dot {
  display: inline-block;
  float: left;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 1px 15px 0 0; }

.btn .bo {
  display: inline-block;
  overflow: hidden; }

.btn .font--l {
  margin: -4px 5px 0 0;
  float: left; }

.ft {
  color: #3c4351;
  font-size: 12px;
  text-transform: uppercase; }

.prx {
  position: relative;
  width: 230px; }

.prx__value {
  position: absolute;
  top: 50%;
  right: -70px;
  margin-top: -16px;
  font-weight: 700;
  color: #d94c36;
  font-size: 22px; }

.prx__bar-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 0;
  height: 1px;
  width: 100%;
  background-color: #cccbcc; }

.prx__bar {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 0;
  height: 1px;
  background-color: #d94c36; }

.box-step {
  display: inline-block;
  float: right;
  border: 1px solid #e27867;
  width: 170px;
  margin-right: 130px;
  position: relative; }
.box-step .box-step__head {
  text-transform: uppercase;
  color: #e27867;
  line-height: 54px;
  font-size: 22px;
  text-align: center; }
.box-step .box-step__change {
  text-transform: uppercase;
  background-color: #e27867;
  color: #fff;
  line-height: 16px;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  cursor: pointer; }
.box-step .box-step__list {
  display: none;
  margin-top: 1px;
  background: #fff;
  position: absolute;
  width: 100%; }
.box-step .box-step__list.is_active {
  display: block; }
.box-step .box-step__list li {
  display: block;
  border-bottom: 1px solid #e27867; }
.box-step .box-step__list a {
  display: block;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #3c4351; }
