// boxes
$boxes: (

	'name': (
		('m', 'all'),
		('mt', 'top'),
		('mr', 'right'),
		('mb', 'bottom'),
		('ml', 'left'),
		('mv', 'vertical'),
		('mh', 'horizontal'),
	),

	'size-xs': (0, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100),

	'size-sm': (0, 10, 15, 20, 30, 40, 50),

	'size-md': (0, 10, 15, 20, 30, 40, 50),

	'size-lg': (0, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100),

);


// fonts
$fonts: (

	'families': (
		first: 'Gordita',
		second: 'Titillium Web',
	),

	'size': (
		// xxxs: 10px,
		// xxs: 11px,
		// xs: 12px,
		// s: 13px,
		m: 14px,
		l: 16px,
		xl: 20px,
		// xxl: 24px,
		xxxl: 28px,
	),

	'colors': (
		white: #ffffff,
		black: #111111,
		first: #3ab821, // green
	),

);


// colors
$colors: (
	black: #333333,
	white: #FFFFFF,
	green: #879e39,
	green-brightest: #d5d7bf,
	green-light: #93a739,
	green-dark: #72812c,
	brown: #746958,
	brown-dark: #392929,
);


// buttons

$button: (

	'default': (
		'margin': 0,
		'margin-buttons': 0,
		'font-style': normal,
		'font-weight': 400,
		'text-transform': uppercase,
	),

	'color': (
		// name, bg, bg-hover, color, color-hover, border
		('btn', #8c2a18, #721908, #ffffff, #ffffff, 0, none, #000),
		('btn--blue', #3c4351, #252d3b, #fff, #fff, 0, none, #000),
		('btn--white', #fff, #fff, #242931, #242931, 1, solid, #fff),
		('btn--tbr', transparent, transparent, #3c4351, #3c4351, 1px, solid, #8c2a18),
		('btn--tbb', transparent, transparent, #3c4351, #3c4351, 1px, solid, #484d5a),
		('btn--tbw', transparent, transparent, #fff, #fff, 1px, solid, #fff),
		// ('btn--success', #4caf50, #46a049, #ffffff, #ffffff, 0 0 3px 0, solid, #379c3b),
		// ('btn--error', #f44336, #da190b, #ffffff, #ffffff, 0 0 3px 0, solid, #d62619),
		// ('btn--info', #2196F3, #0b7dda, #ffffff, #ffffff, 0 0 3px 0, solid, #0f80da),
		// ('btn--warning', #ff9800, #e68a00, #ffffff, #ffffff, 0 0 3px 0, solid, #de8501),
	),

	'size': (
		// name, font-size, padding
		('btn', 11px, 27px 33px),
		('btn--xs', 10px, 15px 33px),
		('btn--s', 11px, 15px 33px),
		// ('btn--m', 13px, 14px 25px 13px),
		// ('btn--l', 15px, 16px 25px 15px),
		// ('btn--xl', 17px, 18px 35px 17px),
	),

	'width': (
		// name, width
		('btn', auto),
		('btn--wide', 100%),
		('btn--w-150', 150px),
		('btn--w-200', 200px),
		('btn--w-250', 250px),
	),

	'radius': (
		// name, radius
		('btn', 0),
		('btn--rad-3', 3px),
		('btn--rad-10', 10px),
		('btn--rad-20', 20px),
	),

);


// inputs defaults
$inputs-default: (
	width: 100%,
	height: 41px,
	height-textarea: 100px,
	text-align: left,
	margin: 10px 0,
	font-style: normal,
	font-weight: 400,
	border-width: 0 0 3px 0,
	border-style: solid,
	border-radius: 3px,
);


// inputs sizes
$inputs-size: (
	// ('btn--size_name', paddings, font-size),
	('input-text', 12px 25px, 12px),
	('input-text--xs', 5px 15px, 10px),
	('input-text--s', 8px 20px, 12px),
	('input-text--m', 13px 25px, 13px),
	('input-text--l', 15px 30px, 14px),
	('input-text--xl', 20px 35px, 16px),
);


// inputs colors
$inputs-colors: (
	// ('btn--color_name', background-color, color, border-color),
	(
		'input-text',
		map-get($colors, brown),
		map-get($colors, green-brightest),
		map-get($colors, green-light)),
);
