$font-family: map-get($fonts, 'families')
$font-size: map-get($fonts, 'size')

html, body
	background: #fff
	font-family: Gordita, sans-serif
	color: #392929
	font-size: map-get($font-size, m)
	line-height: 1.428571429
	font-style: normal
	font-weight: 400
	height: 100%
	min-height: 100%

p
	line-height: 150%
	font-size: map-get($font-size, m)
	margin-top: 15px
	margin-bottom: 15px

a
	font-style: normal
	font-weight: normal
	color: map-get($colors, green-light)


h1, h2, h3, h4, h5, h6,
.h1-default, .h2-default, .h3-default, .h4-default, .h5-default, .h6-default
	color: inherit
	font-family: map-get($font-family, second), sans-serif
	line-height: 1.1
	margin-top: 30px
	margin-bottom: 15px



/*
	headers

.content h1, h1.default
	font-size: map-get($font-size, xxxl)

.content h2, h2.default
	font-size: map-get($font-size, xxl)

.content h3, h3.default
	font-size: map-get($font-size, xl)

.content h4, h4.default
	font-size: 18px

.content h5, h5.default
	font-size: map-get($font-size, m)

.content h6, h6.default
	font-size: map-get($font-size, s)



/*
	wrapper

.wrapper
	width: 1540px
	height: 790px
	overflow: hidden
	background-color: rgba(255, 255, 255, .9)


/* content

.content,
.sidebar
	height: 100%
	position: relative

.content
	float: left
	width: 1070px
	padding-left: 40px

.content--wide
	width: 100%
	padding: 0 40px

.content__header
	margin-top: 36px
	position: relative
	z-index: 10
	pointer-events: none

	> *
		pointer-events: all

.content__footer
	margin-top: 60px
	position: relative
	z-index: 10

.sidebar
	float: right
	width: 430px
	margin-top: 112px
	padding: 0 30px

.content__floors
	position: relative
	float: left
	width: 260px
	z-index: 1
	padding-top: 20px

.content__floor-view
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 0

.content__filters
	position: relative
	float: right
	width: 300px
	height: 100%
	z-index: 1

.content__flat-view
	position: relative

.flat-view
	position: relative

.flat-view__action
	position: absolute
	bottom: 0
	width: 100%
	text-align: center

.table-flat
	margin: 0 0 15px 0
	width: 100%

.table-flat--centered
	max-width: 268px
	margin-left: auto
	margin-right: auto
	color: #3c4351

	&:not(.table-flat--centereds)
		td
			padding: 5px 0

			& + td
				width: 60px
				text-align: center

	.td--bold
		font-weight: 700

.tfc
	width: 1005
	margin-left: auto
	margin-right: auto
	color: #3c4351

	td
		padding: 5px 0

		& + td
			width: 94px
			text-align: center

	.td--bold
		font-weight: 700

.table-flat__label
	font-size: 12px
	text-transform: uppercase
	line-height: 35px

.table-flat__value
	font-size: 12px
	width: 95px
	text-align: right

.table-flat__thead
	border-bottom: 1px solid #ccb9b9

.table-flat__tbody
	border-bottom: 1px solid #ccb9b9

.table-flat__thead__td
	font-size: 20px
	text-transform: uppercase
	padding: 15px 0

.table-flat__thead__td--value
	width: 100px

.table-flat--tc

	.table-flat__label
		line-height: 20px

	.table-flat__tbody
		border-bottom: 0 none


.prices__row
	margin: 25px 0
	text-transform: uppercase
	overflow: hidden

.prices__label
	float: left
	font-size: 20px
	line-height: 35px

.prices__value
	float: right
	font-size: 35px
	line-height: 35px
	font-weight: 700
	color: #8c2a18

.price__title
	color: #3c4351
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	text-align: center

	&.price__title--left
		text-align: left

.price__value
	font-size: 30px
	font-weight: 700
	color: #8c2a18
	text-transform: uppercase
	text-align: center

	&.price__value--left
		text-align: left

.price__value-m
	color: #3c4351
	font-size: 14px
	text-transform: uppercase
	text-align: center

	&.price__value-m--left
		text-align: left

.header--flat
	color: #8c2a18
	font-size: 28px
	font-weight: 700
	text-transform: uppercase

.header--area
	color: #3c4351
	font-size: 35px
	font-weight: 700

.header--cage
	color: #3c4351
	font-size: 14px
	font-weight: 700
	text-transform: uppercase

.content__floors__title
	font-size: 17px
	line-height: 34px
	font-weight: 700
	text-transform: uppercase
	color: #3c4351
	width: 120px
	text-align: left
	margin-bottom: 0

.filter__count
	display: block
	text-align: center
	font-size: 36px
	margin: 10px 0 5px
	font-weight: 700
	color: #3c4351

.btn__row--active

	.filter__count
		color: #337749

.font--special
	color: #8c2a18 !important

.font--bold
	font-weight: 700 !important

.font--l
	font-size: 16px !important

.font--red
	color: #d94c36 !important

sub, sup
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline

sup
	top: -0.5em

sub
	bottom: -0.25em

.box--relative
	position: relative

.box--overflowh
	overflow: hidden

.box-heightfull
	height: 100%

.btn__row
	margin-bottom: 0

.btn--w100
	width: 100px
	text-align: center

.btn--260
	width: 260px
	text-align: center

.btn-ar
	position: absolute
	right: 0

.hr-default
	background: #989898
	border: 0 none
	height: 1px
	witdh: 100%
	margin: 5 0

.hr-default--centeted
	max-width: 268px
	margin-left: auto
	margin-right: auto

.content__floors .btn--active,
.content__floors .btn--active:hover
	background-color: #8c2a18

.content__filters .btn--active,
.content__filters .btn--active:hover
	background-color: #337749

.box__flors__buttons
	width: 100%
	height: 487px
	overflow: hidden
	position: relative
	margin-top: 25px

	.btn--s
		padding: 13px 33px

.box__flors__buttons-inner
	width: 100%
	height: 100%
	position: absolute
	top: 0

.btn__floor_totop,
.btn__floor_tobottom
	left: 34px
	position: absolute
	display: inline-block
	border-left: 15px solid transparent
	border-right: 15px solid transparent

.btn__floor_totop
	border-bottom: 15px solid #959594
	display: none

	&:hover
		border-bottom: 15px solid #70706e

.btn__floor_tobottom
	margin-top: 10px
	border-top: 15px solid #959594

	&:hover
		border-top: 15px solid #70706e


/*
	gallery

.gallery__nav
	position: relative
	float: left
	width: 215px
	height: 790px
	z-index: 1
	margin-right: 55px
	-webkit-transform-style: preserve-3d
	-moz-transform-style: preserve-3d
	transform-style: preserve-3d

	.btn__row
		margin-bottom: 50px

	.btn--active,
	.btn--active:hover
		background-color: #8c2a18

.gallery__nav__inner
	position: relative
	top: 50%
	transform: translateY(-50%)

.gallery__content
	width: 100%
	height: 790px
	z-index: 0

.gallery__item
	float: left
	max-width: 48%
	margin: 0 0 15px 2%

.btn--back
	position: relative

	&:before
		content: ''
		display: block
		position: absolute
		top: 50%
		margin-top: -6px
		left: 0
		margin-left: -30px
		width: 53px
		height: 13px
		background-color: transparent
		background-image: url('../images/ico-arrow-left.png')
		background-repeat: no-repeat
		background-position: 0 0

.owl-.compare__content
	margin: 0
	margin-top: -100px
	margin-bottom: -100px
	position: relative
	z-index: 0

	.owl-stage
		padding-top: 100px
		padding-bottom: 100px

.mbox__item
	padding: 30px 20px

	.header--cage
		font-size: 14px

	.header--flat
		font-size: 25px

	.header--area
		font-size: 30px

	.table-flat__thead__td
		font-size: 15px

	.prices__label,
	.prices__value
		font-size: 15px
		line-height: 15px

	.prices__row
		margin: 10px 0

	.table-flat__thead__td.table-flat__thead__td--value
		text-align: right

	.close
		display: block
		width: 20px
		height: 20px
		background: red

.mbox__item--active
	border: 1px solid #8c2a18
	-webkit-box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.24)
	-moz-box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.24)
	box-shadow: 0px 0px 80px 1px rgba(0,0,0,0.24)

.btn

	.ico-send
		float: left
		margin: -5px 10px -5px 0

	.ico-compare
		float: left
		margin: -5px 10px -5px 0

	.ico-details
		float: left
		margin: 1px 2px 0 0

.compare__left
	position: relative
	float: left
	width: 120px
	height: 620px
	margin-top: 125px

.compare__left__floor-view
	position: absolute
	bottom: 0
	left: 0

.compare__content
	width: 95%
	height: 790px
	z-index: 0
	padding-left: 120px

.owl-cbox
	margin: 0
	margin-top: -100px
	margin-bottom: -100px
	position: relative
	z-index: 0

	.owl-stage
		padding-top: 100px
		padding-bottom: 100px

	.cbox__item
		padding: 10px 20px

		img
			margin-bottom: 20px

		.header--area
			font-size: 20px

		.table-flat__thead__td
			font-size: 12px

			& + .table-flat__thead__td
				text-align: right

		.table-flat__label,
		.table-flat__value
			font-size: 10px
			line-height: 18px

		.table-flat__value
			text-align: right

		.prices__label,
		.prices__value
			font-size: 15px
			line-height: 18px

		.prices__row
			margin: 10px 0

		.table-flat__tbody
			border-bottom: 0 none

// svg

.icon-svg
	&-close
		.close-x
			stroke: black
			fill: transparent
			stroke-linecap: round
			stroke-width: 5

// buttons

.btn--narrow
	padding-left: 20px
	padding-right: 20px

.btn--clear
	padding: 10px 0
	background: none
	color: #211e1e
	text-transform: none
	font-size: 13px

	&.btn:hover
		color: #211e1e
		background: none

.flat-view__action, .content__footer, .compare__left
	.btn:not(.btn--clear)
		&:after
			content: " "
			border: solid #fff
			border-width: 0 1px 1px 0
			display: inline-block
			padding: 3px
			margin-left: 10px
			transform: rotate(-45deg)
			-webkit-transform: rotate(-45deg)

		&.btn--tbb:after
			border-color: #3c4351

// flats list - unselect button (X)

.flat-list-item
	.item-unselect
		position: absolute
		left: 50%
		top: -65px
		display: none
		cursor: pointer

	.mbox__item--active + .item-unselect
		display: block

	.icon-svg-close
		width: 20px
		margin-left: -10px
		fill: #3c4351

// OWL

.flat-list .owl-carousel .owl-stage-outer
	overflow-y: visible

.flat-list-full .owl-carousel .owl-stage-outer,
.flat-list .owl-carousel .owl-stage-outer
	overflow: visible

.table-filtration
	width: 100%
	margin: 20px 0

	tr
		border-bottom: 1px solid #a1a1a1

		th,
		td
			text-transform: uppercase
			padding: 0
			height: 80px
			vertical-align: middle
			text-align: center

	tbody

		tr

			&:last-child
				border-bottom: 0 none

	.td--price
		font-weight: 700
		color: #8c2a18

	.link-head
		font-size: 16px
		font-weight: 700
		color: #8c2a18
		float: left

	.sort
		display: inline-block
		width: 9px
		margin-left: 10px
		float: left

		.sort-up,
		.sort-down
			display: block
			width: 9px
			height: 8px
			background-color: transparent
			background-image: url('../images/ico-sort.png')
			background-repeat: no-repeat
			background-position: 0 0

		.sort-up
			margin-bottom: 4px

		.sort-down
			background-position: 0 -8px

	.status
		display: inline-block
		width: 14px
		height: 14px
		border-radius: 50%

		&.success
			background-color: #39b54a

		&.warning
			background-color: #f26c4f

		&.error
			background-color: #f24f62

	.tr-hover
		display: none

	.td-hover
		height: 80px
		background: #8c2a18
		vertical-align: middle
		text-align: center
		padding: 0 30px

		.btn
			margin-bottom: 0

	.td-price
		width: 100px
		text-align: center

	.td-pricem
		width: 120px
		text-align: center

.header__filtration
	width: 100%
	overflow: hidden
	background-color: #3c4351
	color: #fff
	padding: 25px 35px

.filtration__item
	position: relative
	float: left
	height: 70px
	margin: 0 45px

	&:last-child
		float: right
		margin-right: 0
		margin-top: 20px

	&.filtration__item--select
		margin-top: 20px

	&.filtration__item--area,
	&.filtration__item--price,
		margin-right: 80px

.label--top
	display: block
	text-align: center
	text-transform: uppercase
	font-size: 13px

.label--al
	text-align: left

.select--label-top
	display: block
	width: 40px
	text-align: center
	text-align-last: center
	text-indent: -2px
	border: 0
	margin: 10px auto
	padding: 0
	font-weight: bold
	outline: none
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	background-color: #3C4351
	color: #fff

.select--label-wrap

	&:after
		content: ''
		display: block
		width: 6px
		height: 6px
		margin: 10px auto
		border-left: 6px solid transparent
		border-right: 6px solid transparent
		border-top: 6px solid #fff

.filtration__submit
	font-size: 15px
	font-weight: 700
	color: #fff
	text-transform: uppercase
	border: 0 none
	cursor: pointer
	height: 67px
	padding-right: 20px
	background-color: transparent
	background-image: url('../images/ico-arrow-rr.png')
	background-repeat: no-repeat
	background-position: center right

.ui-widget.ui-widget-content
	border: 0 none !important
	height: 1px !important
	width: 290px !important
	background: #a1a1a1 !important

.ui-widget-header
	background: #fff !important

.ui-slider .ui-slider-handle
	top: -10px !important
	position: absolute
	z-index: 2
	width: 20px !important
	height: 20px !important
	background: #fff !important
	border-radius: 50% !important
	border: 0 none !important
	cursor: pointer !important
	-ms-touch-action: none
	touch-action: none

.filter-area-range,
.filter-price-range
	margin: 30px 0 20px

.area-min,
.area-max,
.price-min,
.price-max
	width: 100px
	text-align: center
	font-size: 12px

.area-min,
.price-min
	float: left
	margin-left: -50px

.area-max,
.price-max
	float: right
	margin-right: -50px

.floor__legends
	overflow: hidden
	border-top: 1px solid #cccbcc
	padding-top: 30px
	margin-top: 20px

	.legend
		overflow: hidden
		display: inline-block
		width: 50%
		float: left
		margin: 0 0 15px 0
		color: #3c4351
		font-size: 12px
		text-transform: uppercase

	.legend__dot
		display: inline-block
		float: left
		width: 14px
		height: 14px
		border-radius: 50%
		margin: 1px 15px 0 0

.btn

	.bo
		display: inline-block
		overflow: hidden

	.font--l
		margin: -4px 5px 0 0
		float: left

.ft
	color: #3c4351
	font-size: 12px
	text-transform: uppercase

.prx
	position: relative
	width: 230px

.prx__value
	position: absolute
	top: 50%
	right: -70px
	margin-top: -16px
	font-weight: 700
	color: #d94c36
	font-size: 22px

.prx__bar-wrap
	position: absolute
	top: 50%
	left: 0
	margin-top: 0
	height: 1px
	width: 100%
	background-color: #cccbcc

.prx__bar
	position: absolute
	top: 50%
	left: 0
	margin-top: 0
	height: 1px
	background-color: #d94c36

.box-step
	display: inline-block
	float: right
	border: 1px solid #e27867
	width: 170px
	margin-right: 130px
	position: relative

	.box-step__head
		text-transform: uppercase
		color: #e27867
		line-height: 54px
		font-size: 22px
		text-align: center

	.box-step__change
		text-transform: uppercase
		background-color: #e27867
		color: #fff
		line-height: 16px
		font-size: 10px
		text-align: center
		font-weight: 700
		cursor: pointer

	.box-step__list
		display: none
		margin-top: 1px
		background: #fff
		position: absolute
		width: 100%

		&.is_active
			display: block

		li
			display: block
			border-bottom: 1px solid #e27867

		a
			display: block
			padding: 10px
			font-size: 12px
			text-transform: uppercase
			color: #3c4351